
{{ usrName.firstName }}



<form class="" action="/newuser" method="post">
  Firs Name: <input type="text" name="firstName" value=""><br />
  Last Name: <input type="text" name="lastName" value=""><br />
  Email: <input type="email" name="email" value=""><br />
  Password <input type="password" name="password" value=""><br />
  <button type="submit" name="button">Submit</button>
</form>
